{extend name='public::base'/}
{block name="content"}


    <div class="col-md-8">
        <div class="page-header">
            <h1>{$articleInfo.title}</h1>
        </div>

        <div class="article">

            <span style="color: #9d9d9d">
                发布者：{$articleInfo.user_id}
                &nbsp;&nbsp;发布时间：{$articleInfo.create_time}
                &nbsp;&nbsp;阅读量：{$articleInfo.pv}
            </span>

        </div>
        <img src=" {$articleInfo.title_img}" width="300px">
        <div> {$articleInfo.content|raw}</div>

    </div>

{/block}
